@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  user-zoom: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.animalHappy {
  animation-name: grow;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes grow {
  25% {
    transform: scale(0.1);
  }
  75% {
    transform: scale(2);
  }
}

@keyframes flash-red {
  from {
    background-color: red;
  }
  to {
    background-color: #f004;
  }
}

@keyframes flash-green {
  from {
    background-color: green;
  }
  to {
    background-color: #0f04;
  }
}

@keyframes flash-blue {
  from {
    background-color: #00f;
  }
  to {
    background-color: #00f4;
  }
}
